:root{
    --primary-color:#08A6E4;
    --socond-color: #FB3B64;
    --third-color: #55DFB4;
    --base-font-size:10px;
    --primary-font-family:'Raleway', sans-serif;
    --second-font-family:'Open Sans', sans-serif;
    --base-border-radius: 50%;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img video canvas {
    height: 100%;
    width: 100%;
}


header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container{
    width: 1626px;
    display: flex;
}

nav.container{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
}

.nav_logo{
    font-family: var(--primary-font-family);
    font-size: 32px;
    font-weight: 300;
    padding-left: 136px;
    color: var(--primary-color);
}

.nav-list{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.nav_list_items li{
    display: inline-block;
    padding-right: 136px;
    color: #A5A5A5;
    font-family: var(--second-font-family);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    transition: 1s;
}
/*todo :: nie działa border-bottom
   todo:: nie odnosi do id*/
.nav_list li:hover{

    color: black;
    border-bottom: 3px solid #08A6E4;
    cursor: grab;
}

/*end navy*/

/*start banner*/

.banner{
    width: 1626px;
    height: 750px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    margin: 0 auto;
    /*width: 1626px;*/
    /*height: 500px;*/
    background-image: url("../assets/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    /*position: relative;*/
    bottom: 30px;
}

.banner div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 170px;
}

.banner_slogan{
    font-family: var(--primary-font-family);
    font-size: 49px;
    /*padding: 0px 0 240px 0;*/
    text-align: center;
    text-transform: capitalize;
    justify-content: flex-start;
}

.banner_info{
    padding-top: 20px;
    font-family: var(--primary-font-family);
    font-size: 16px;
    /*padding: 200px 0 40px 0;*/
    text-align: center;
    /*padding: 0px 0 240px 0;*/

}

.banner_buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 67px;
    background-color: var(--primary-color);
    border-radius: 50px;
    color:white;
    margin-top: 40px;
    font-family: var(--second-font-family);
    font-size: 16px;

}
.banner_buttom a{
    color: white;
    text-decoration: none;
}

.banner_buttom:hover {
    background-color: orange;
    cursor: grab;
}
.section_image {


}

/*end banner*/

/*start statistic*/



.statistic div.container{
    width: 1626px;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.statistic_slogan h2{
    display: inline-block;
    width: 714px;
    font-family: var(--primary-font-family);
    font-size: 32px;
    opacity: 1;
}

.icon{
    width: 1000px;
    padding: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.icon_content{
    width: 116px;
    height: 140px;

}

.circle{
    width: 63px;
    height: 63px;
    border-radius: var(--base-border-radius);
    border: 1px solid gray
}
.red{
}

.circle_red{
    background-color: var(--socond-color);
}
.circle_blue{
    background-color: var(--primary-color);
}
.circle_green{
    background-color: var(--third-color);
}


.icon_img{
    position: relative;
    bottom: 55px;
    left: 30px;
}

div.icon_content+div.icon_content img{
    position: relative;
    bottom: 50px;
    left: 30px;
    margin-bottom: 17px;
}
/*todo :: poniżej jest stylowanie do trzeciej ikony, które jest identyczne jak do pierwszej, obie są w tych samych kontenerach o takich samych właściwościach, jednak jak zakomentuję to stylowanie to ikona się przesuwa?*/
div.icon_content+div.icon_content+div.icon_content img{
    position: relative;
    bottom: 55px;
    left: 30px;
    margin-bottom: 4px;
}

h5{
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 700;
    margin-left: -10px;
    margin-top: -10px;
    letter-spacing: 6px;
}
.icon_content p{
    font-family: var(--primary-font-family);
    font-size: 16px;
    text-align: center;
    color: #A5A5A5;
    padding-top: 30px;
    margin-left: -20px;
    margin-top: -10px;

}

/*end section statistic*/

/*start main bennefits*/


main{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
}

.benefits div.container{
    width: 1124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:105px 251px;
}

.article{
    width: 1124px;
    height: 370px;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;

}
.article_text1{
    width: 416px;
    height: 188px;
    padding: 91px 30px;

}

.article_title{
    font-family: var(--primary-font-family);
    font-size: 36px;
    padding-bottom: 20px;
}

.article_text1 p{
    font-family: var(--second-font-family);
    font-size: 16px;
    width: 416px;
    padding-top: 20px;
}

.article_text1 p::after{
    content: "";
    display: block;
    height: 4px;
    width: 300px;
    opacity: 0.8;
    background-color: var(--socond-color);
    margin-top: 60px;
    border-radius: 10px;
}

.article_rectangle{
    width: 160px;
    height: 210px;
    border-radius: 41px;
    background: #FB3B64 0% 0% no-repeat padding-box;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    left: 430px;
    top: 50px;
    z-index: 1;
}

.article_image-first img{
    width: 386px;
    height: 219px;
    position: relative;
    z-index: 2;
    top: 100px;
    left: 55px;
}

.article_circle{
    width: 280px;
    height: 280px;
    background-color: var(--primary-color);
    border-radius: var(--base-border-radius);
    position: relative;
    left: 55px;
    top:15px;
}

.article_image-second img{
    width: 360px;
    height: 250px;
    position: relative;
    z-index: 2;
    top: 50px;
    right: 155px;
    /*bottom: -40px;*/
    /*right: 280px;*/
}

.article_image-second{
    position: relative;
    right: 70px;
}

.article_text2{
    width: 416px;
    height: 188px;
    padding: 50px 30px;
}

.article_text2 p{
    font-family: var(--second-font-family);
    font-size: 16px;
    width: 416px;
    padding-top: 20px;
}

.article_text2 p::after {
    content: "";
    display: block;
    height: 4px;
    width: 300px;
    opacity: 0.8;
    background-color: var(--primary-color);
    margin-top: 60px;
    border-radius: 10px;
}

.article_brand{
    width: 1124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article_brand_content{
    width: 624px;
    height: 370px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}

.article_picture{
    width: 440px;
    height: 370px;
    background-color: var(--third-color);
}

.article_picture img{
    position: relative;
    top: 80px;
    left: 60px;
    height: 250px;
    width: 300px;
}


h3.article_title3{
    padding-top: 55px;
    font-family: var(--primary-font-family);
    font-size: 36px;
    padding-bottom: 20px;
}

p.article_text3 {
    font-family: var(--second-font-family);
    font-size: 16px;
    width: 416px;
    padding-top: 20px;
}

p.article_text3::after {
    content: "";
    display: block;
    height: 4px;
    width: 300px;
    opacity: 0.8;
    background-color: var(--third-color);
    margin-top: 60px;
    border-radius: 10px;
}
/*end main*/
/*start prices section*/



